
@media screen and (min-width:1280px) {
  .navbar-nav {
    gap:15px;
  }
}
 
@media screen and (max-width:1199px) {
  .roadmap-area .roadmap-item:nth-child(odd) .roadmap-body{
    padding-left: 32px;
  }
  .nav-bg {
    background: url('../images/bg/nav.png');
    background-size: 100% 100%;
    padding: 12px 20px;
    background: #161616;
    border-radius: 10px;
  }
  .common-heading-section h2 {
    font-size: 50px;
    line-height: 65px;
  }
  .common-heading-section h3 {
    font-size: 35px;
    line-height: 42px;
  }
  .footer {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header-right {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .navbar-nav{
    margin-top: 30px;
  }
  .footer-circle {
    opacity: 0.3;
  }
 
}
@media screen and (max-width: 991px) {
  .footer-logo {
    text-align: center;
  }
  .support-list {
    flex-basis: 75%;
  }
  .roadmap-item{
    border-radius:100px 10px 10px 100px;
  }
  .roadmap-item::before {
    height: 250px;
    border-radius: 106px 10px 0px 110px;
  }
  .roadmap-item::after {
    left: -19px;
  }
  .roadmap-list {
    width: 80%;
  }
  .roadmap-circle{
    margin-right: 18px;
  }
  .roadmap-area .roadmap-item:nth-child(even):before{
    background-color: #13CC73;
    left: inherit;
    right: -28px;
    border-radius: 0px 125px 30px 0;
  }
  .common-heading-section h2 {
    font-size: 40px;
    line-height:50px;
  }
  .common-heading-section h3 {
    font-size: 32px;
    line-height:40px;
  }
  .primary-btn,.secondary-btn {
    padding: 14px 28px;
    gap: 5px;
  }
  .btn-sm {
    font-size: 15px;
    height: 40px;
    min-width: 144px;
    padding:8px;
  }
  .nav-item > a{
    padding: 10px;
  }
  .navbar-collapse {
    margin-top: 25px;
  }
  .header-area {
    margin-bottom:0px;
  }
  .common-heading-section h2,.common-heading-section h3,.common-heading-section h4,.common-heading-section p{
    text-align: center;
  }
  .hero-section {
    padding-top:70px;
  }
  .mt-70 {
    margin-top: 50px;
  }
  .header-right {
    margin-top: 25px;
  }
  .logo-img img{
    display: none;
  }
  .mt-100 {
    margin-top: 80px;
  }
  .clients-trading-table{
    margin-top: 0;
  }
  .ico-section{
    padding: 0;
  }

  .footer-area {
    padding-top: 70px;
  }
  .contact-us-section{
    margin-bottom: 0;
  }
  .ico-circle-box img{
    width: 100%;
  }
  .ico-circle-box {
    top: -8%;
  }
  .footer-circle img{
    width:80%;
  }
  @keyframes zoomBackground {
    0% {
      background-size:90% 90%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
  .tokenomics-thumbnail{
    text-align: center;
  }
  .ico-circle-box img,.tokenomics-thumbnail img{
    width:70% !important;
  }
}
@media screen and (max-width:767px) {
  .roadmap-area .roadmap-item:nth-child(even):before{
    border-radius: 0px 125px 16px 0;
  }
  .roadmap-item::before {
    border-radius: 106px 10px 0px 10px;
  }
  .footer-pagination-items {
    gap: 35px;
  }
  .footer-pagination{
    width: 50%;
  }
  .roadmap-item{
    flex-wrap: wrap;
    justify-content: center;
  }
  .view-more-btn{
    top: inherit;
    bottom:20px;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;
  }.roadmap-circle {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .roadmap-item::before {
    height: 90%;
  }
  .roadmap-list {
    width: 100%;
    padding-bottom: 50px;
  }
  .tokenomice-bar{
    flex: 0.5;
  }
  .tokenomics-item{
    margin-left: 10px;
  }
  .tokenomics-section, .about-us-section {
    padding: 80px 0;
  }
  .ecm-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .coin-info-text h5, .coin-rate h5 {
    font-size: 18px;
    line-height: 26.4px;
    color: #FFFFFF;
  }
  .primary-btn, .secondary-btn {
    padding: 12px 24px;
  }
  .support-list {
    width: 100%;
  }
  .footer {
    gap:35px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-item h4 {
    font-size: 24px;
  }
  .btn-list ul {
    gap: 5px;
  }
  .common-heading-section h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .common-heading-section h3 {
    font-size: 28px;
    line-height: 40px;
  }
  p{
    font-size: 16px;
  }
  .roadmap-section {
    padding-left:20px;
    padding-right: 10px;
  }
  .ellipse{
    width:300px;
  }

}
@media screen and (max-width:480px) {
  .about-us-thumbnail img{
    margin-left: 0;
  }
  .roadmap-item::before {
    top: -26px;
  }
  .footer-pagination-items {
    gap: 0px;
  }
  .footer-bottom {
    gap: 10px;
  }
  .footer-item h4 {
    font-size: 20px;
  }
  .ico-address p{
    font-size: 13px;
  }
  .clients-trading-table table tr td {
    font-size: 14px;
  }
  .clients-trading-table table tr td, .clients-trading-table table tr th {
    padding: 10px 5px;
  }
  .table-card {
    padding: 10px;
  }
  .clients-trading-table table tr th {
    font-size: 14px;
  }
  .footer-pagination {
    width: 44%;
  }
  .footer-item ul li a {
    font-size: 15px;
  }
  p{
    font-size: 15px;
  }
  .navbar {
    padding-left:0px;
    padding-right:0px;
  }
  .primary-btn,.secondary-btn{
    font-size: 14px;
  }
  .navbar-brand img {
    max-width: 190px;
  }
  .nav-item > a {
    font-size: 15px;
    padding: 5px 10px;
  }
  .primary-btn img, .secondary-btn img {
    width: 16px;
  }
}



